@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Bekräftelse på att återställa lösenord";
}

<h1>@ViewData["Title"]</h1>
<p>
    Vänligen kolla din email för att återställa ditt lösenord.
</p>

