@page
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = "Bekräftelse på återställt lösenord";
}

<h1>@ViewData["Title"]</h1>
<p>
    Ditt lösenord har återställts. Vänligen <a asp-page="./Login">klicka här för att logga in</a>.
</p>
