@{
    ViewData["Title"] = "Information om cookies";
}

<h1>@ViewData["Title"]</h1>
<br />
<h5>Ibland kallas de för cookies, ibland för kakor. Men det är precis samma sak. På Plantera Meras webbplats används cookies, det har du som besökare rätt att få veta enligt lagen om elektronisk kommunikation. Vi sparar aldrig någon information i din webbläsare eller på din enhet utan att du godkänner det. </h5>
<br />
<h3>Vad är cookies?</h3>
<p>Cookies är små textfiler som sparas i din webbläsare eller på din enhet när du besöker en webbplats. De kan användas av olika anledningar. De cookies vi använder är nödvändiga och aktiverar grundläggande funktioner på webbplatsen och kan därför inte väljas bort. </p>
<h3>Varför använder vi cookies?</h3>
<p>Vi använder cookies för att de är nödvändiga för webbplatsen.</p>
<ul>
    <li>Vissa cookies behövs för att webbplatsen ska fungera. De kan exempelvis påverka navigering, varukorgen eller åtkomst till inloggat läge. Du kan därför inte välja bort dessa cookies.</li>
</ul>
<br />