@{
    ViewData["Title"] = "Integritetspolicy";
}
<h1>@ViewData["Title"]</h1>
<br />
<h5>Inom Plantera Mera behandlar vi uppgifter om dig och hur du använder våra tjänster. Vi har tillgång till en del personuppgifter och det är viktigt för oss att du känner dig trygg med att vi använder dina uppgifter i enlighet med gällande dataskyddslagstiftning.</h5>
<h5>Plantera Mera omfattas av både Dataskyddsförordningens regler om behandling av personuppgifter och av regler om integritet enligt lagen om elektronisk kommunikation.</h5>
<br />
<h3>Hur vi använder dina personuppgifter</h3>
<br />
<h5>Vilka typer av personuppgifter vi använder och varifrån vi samlar in dem</h5>
<br />
<p>Vi samlar in och använder <strong>kunduppgifter</strong>. Vissa av dessa uppgifter måste vi behandla för att det är nödvändigt för att vi ska kunna skicka dina beställningar av varor till dig. Om du inte delar dessa uppgifter med oss kommer vi inte kunna skicka varor till dig. För respektive typ av uppgift anger vi om du måste lämna uppgifterna till oss eller om det är frivilligt att göra det.</p>
<br />
<p><strong>Kunduppgifter</strong> är uppgifter som är relaterade till dig som individ, som är kopplade till de tjänster du har med oss eller som skapas när du interagerar med oss.</p>

<div id="accordion">
    <div class="card">
        <div class="card-header" id="headingOne">
            <h5 class="mb-0">
                <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                    <strong>Läs mer om kunduppgifter</strong>
                </button>
            </h5>
        </div>

        <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
            <div class="card-body">
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">Typ av uppgift</th>
                            <th scope="col">Exempel</th>
                            <th scope="col">Källa</th>
                            <th scope="col">Måste du lämna uppgifterna?</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Kontaktuppgifter</td>
                            <td>Namn, adress, e-postadress och kundnummer.</td>
                            <td>Uppgifterna samlas i huvudsak in från dig. Vissa uppgifter, såsom kundnummer, skapas av oss.</td>
                            <td>Uppgifterna är nödvändiga för att vi ska kunna fullgöra din beställning.</td>
                        </tr>
                        <tr>
                            <td>Beställningsuppgifter</td>
                            <td>Adress som beställningen skall skickas till, ordernummer.</td>
                            <td>Uppgifterna samlas i huvudsak in från dig. Vissa uppgifter, såsom ordernummer, skapas av oss.</td>
                            <td>Uppgifterna är nödvändiga för att vi ska kunna fullgöra din beställning.</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<br />
<h3>Så används din data om du är kund</h3>
<br />
<p>Nedan hittar du mer information om de ändamål vi använder dina uppgifter för, vilken den rättsliga grunden är och hur länge vi sparar dina uppgifter.</p>

<div id="accordion">
    <div class="card">
        <div class="card-header" id="headingTwo">
            <h5 class="mb-0">
                <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                    <strong>Interagera med dig på webben</strong>
                </button>
            </h5>
        </div>

        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
            <div class="card-body">
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">Ändamål</th>
                            <th scope="col">Beskrivning</th>
                            <th scope="col">Typ av uppgift</th>
                            <th scope="col">Rättslig grund</th>
                            <th scope="col">Lagringstid</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Underlätta din surfupplevelse</td>
                            <td>Tillhandahålla nödvändiga funktioner på vår hemsida, såsom navigering, varukorg och åtkomst till inloggat läge. För detta ändamål inhämtar vi uppgifter om dig via nödvändiga cookies.</td>
                            <td>Enhetsuppgifter</td>
                            <td>Berättigat intresse (består i att vi vill kunna tillhandahålla nödvändiga funktioner på vår hemsida)</td>
                            <td>Lagringstiden varierar beroende på vilken cookie som sätts i din webbläsare. Se vår <a asp-area="" asp-controller="Home" asp-action="CookiePolicy">cookiepolicy</a> för mer information.</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<br />
<h3>Dina rättigheter</h3>
<br />
<h5>Dataskyddslagstiftningen syftar bland annat till att stärka din rätt till och skyddet av dina personuppgifter. Du kan läsa mer om rättigheterna nedan. Följande rättigheter kan du utöva själv på ditt kundkonto:</h5>
<br />
<ul>
    <li>Ladda ner personuppgifter</li>
    <li>Ta bort personuppgifter</li>
</ul>
<div id="accordion">
    <div class="card">
        <div class="card-header" id="headingThree">
            <h5 class="mb-0">
                <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                    <strong>Rätt till tillgång (ladda ner dina personuppgifter)</strong>
                </button>
            </h5>
        </div>

        <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
            <div class="card-body">
                Du har rätt att veta om vi använder dina personuppgifter. Om vi gör det har du också rätt att få information om vilka uppgifter vi använder och hur vi använder dem. Du har också rätt att få en kopia av alla personuppgifter vi har om dig.
            </div>
        </div>
    </div>
</div>
<div id="accordion">
    <div class="card">
        <div class="card-header" id="headingFour">
            <h5 class="mb-0">
                <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                    <strong>Rätt till radering (ta bort dina personuppgifter)</strong>
                </button>
            </h5>
        </div>

        <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordion">
            <div class="card-body">
                Du har rätt att få dina uppgifter raderade om:
                <ul>
                    <li>Uppgifterna inte längre behövs för de ändamål vi samlade in dem för</li>
                    <li>Om personuppgifterna har använts olagligt</li>
                    <li>Om radering krävs för att uppfylla en rättslig skyldighet</li>
                </ul>
            </div>
        </div>
    </div>
</div>
